a {
  text-decoration: none;
}

.main {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;

  background-color: rgb(45, 212, 191);
  background-image: radial-gradient(
      at 67% 68%,
      rgb(255, 255, 255) 0,
      transparent 37%
    ),
    radial-gradient(at 94% 85%, rgb(29, 78, 216) 0, transparent 84%),
    radial-gradient(at 40% 59%, rgb(133, 77, 14) 0, transparent 21%),
    radial-gradient(at 11% 11%, rgb(190, 242, 100) 0, transparent 18%),
    radial-gradient(at 17% 40%, rgb(254, 243, 199) 0, transparent 92%),
    radial-gradient(at 63% 39%, rgb(109, 40, 217) 0, transparent 62%);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-family: var(--font-inter);
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  padding: var(--padding-md);
  gap: 11px;
}

.header {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  text-align: right;
  height: 80px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-inter);
  border-bottom: solid 1px white;
}

@media screen and (max-width: 240px) {
  .header {
    width: 100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.headerLogo {
  position: absolute;
  width: 211.2px;
  /* height: 98px; */
  flex-shrink: 0;
  object-fit: cover;
  opacity: 0;
}

@media screen and (max-width: 240px) {
  /* .headerLogo {
    width: 161.2px;
  } */
  .headerInfo {
    /* visibility: hidden; */
    font-size: xx-small;
  }
}

.headerLogo.animate {
  animation: 3s ease 0s 1 normal forwards fade-in;
}

/* .headerDivLeft {
  width: 50%;
}

.headerDivRight {
  width: 50%;
} */
.headerInfo {
  font-size: var(--font-size-base);
  position: relative;
  /* margin-left: 150px; */
  /* display: inline-block; */
  width: 130px;
  flex-shrink: 0;
}
.dateLocation,
.content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /* width: 95vw; */
}

.dateLocation {
  justify-content: flex-start;
  gap: 22px;
}

.postDivLeft {
  width: 50%;
}

.postDivRight {
  width: 50%;
}

.postTitle {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  width: 95%;
  color: white;
}
.ul {
  width: 95vw;
  padding: 12px;
}

.postDate {
  align-self: stretch;
  font-size: var(--font-size-base);
  font-style: italic;
  text-align: right;
  display: inline-block;
  /* width: 200px; */
  flex-shrink: 0;
  color: white
}

.postDetails {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  /* width: 95vw; */
}

.postArtistDetails {
  font-size: var(--font-size-xl);
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  flex-shrink: 0;
  width: 90%;
  /* hyphens: manual; */
  word-break: break-word;
  word-wrap: break-word;
}

.postArtistDetails:hover {
  cursor: ne;
}

.postArtistSoundCloud {
  flex-direction: column;
  justify-content: flex-start;
  gap: 9px;
  text-align: right;
  font-size: var(--font-size-sm);
  display: flex;
  align-items: flex-start;
}
.postArtistSoundCloudDiv {
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
}
.postArtistSoundCloudDivInside {
  position: relative;
}

.postArtistDetailsTitle1 {
  color: yellow !important;
  margin-block-start: 0;
  margin-block-end: 0;
}
.postArtistDetailsTitle2 {
  color: orange !important;
  margin-block-start: 0;
  margin-block-end: 0;
}
.postArtistDetailsTitle3 {
  color: blueviolet !important;
  margin-block-start: 0;
  margin-block-end: 0;
}
.postArtistDetailsTitle4 {
  color: seagreen !important;
  margin-block-start: 0;
  margin-block-end: 0;
}
.postArtistDetailsTitle5 {
  color: rgb(136, 232, 144) !important;
  margin-block-start: 0;
  margin-block-end: 0;
}
.postArtistDetailsTitle6 {
  color: rgb(0, 251, 255) !important;
  margin-block-start: 0;
  margin-block-end: 0;
}
.postArtistDetailsTitle7 {
  color: rgb(249, 131, 210) !important;
  margin-block-start: 0;
  margin-block-end: 0;
}
.postArtistDetailsTitle8 {
  color: rgb(255, 0, 0) !important;
  margin-block-start: 0;
  margin-block-end: 0;
}
.postArtistDetailsTitle9 {
  color: yellow !important;
  margin-block-start: 0;
  margin-block-end: 0;
}
.postArtistDetailsTitle10 {
  color: rgb(51, 0, 255) !important;
  margin-block-start: 0;
  margin-block-end: 0;
}

.poster {
  position: relative;
  height: 50vh;
  aspect-ratio: 3 / 4;
  flex-shrink: 0;
  overflow: hidden;
  object-fit: cover;
  @media (max-width: 400px) {
    .posterIcon {
      width: 75vw;
    }
  }
}

.footer {
}

.guidelinesTitle {
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: var(--font-size-xl);
  color: white;
}

.guidelinesDescription {
  padding-bottom: 20px;
  margin-right: 10px;
  margin-bottom: 70px;
  border-bottom: solid 1px black;
  color: white;
}
